# Magritte - inclusion of unsupervised scratch book
<p>Notebook used for working on features to include unsupervised into magritte pipeline
</p>

# Initialize environment

When doing magritte dev work, I am currently using two repos:
- magritte (for core code changes)
- magritte scratch (for scratch notebooks for development work)

Configs below are setup so that you checkout both repos in parallel directories

In [1]:
import sys
import os

MAGRITTE_SCRATCH_DIR = f'{os.getcwd()}' # assume notebook is in root of magritte scratch dir
MAGRITTE_DIR = f'{MAGRITTE_SCRATCH_DIR}/../../magritte'
UTILITIES_DIR = f'{MAGRITTE_DIR}/utilities'
DEMO_DATA_DIR = f'{MAGRITTE_DIR}/data'
DEMO_DATA_FILE = f'{DEMO_DATA_DIR}/IMDB Dataset.csv.gz'


DATA_DIR = f'{MAGRITTE_DIR}/../data/mimiciii'

# Add the UTILITY_DIR to the path to import files
sys.path.append(UTILITIES_DIR)

In [2]:
import pandas as pd
import numpy as np

# Load Data
<p>Loading the IMDB Dataset<br>
50,000 records on pos/neg sentiment analysis<br>
25,000 records per class<br>

In [18]:
#admissionDF = pd.read_csv(f'{DATA_DIR}/ADMISSIONS.csv.gz', compression='gzip')
diagnosisDF = pd.read_csv(f'{DATA_DIR}/DIAGNOSES_ICD.csv.gz', compression='gzip')
notesDF = pd.read_csv(f'{DATA_DIR}/NOTEEVENTS.csv.gz', compression='gzip')
drgcodesDF = pd.read_csv(f'{DATA_DIR}/DRGCODES.csv.gz', compression='gzip')
icddiagnosisDF = pd.read_csv(f'{DATA_DIR}/D_ICD_DIAGNOSES.csv.gz', compression='gzip')

/home/magni/python_env/ML1010_env2/lib64/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [25]:
display(icddiagnosisDF.head())
print(icddiagnosisDF.dtypes)

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
0,174,01166,TB pneumonia-oth test,"Tuberculous pneumonia [any form], tubercle bac..."
1,175,01170,TB pneumothorax-unspec,"Tuberculous pneumothorax, unspecified"
2,176,01171,TB pneumothorax-no exam,"Tuberculous pneumothorax, bacteriological or h..."
3,177,01172,TB pneumothorx-exam unkn,"Tuberculous pneumothorax, bacteriological or h..."
4,178,01173,TB pneumothorax-micro dx,"Tuberculous pneumothorax, tubercle bacilli fou..."

ROW_ID          int64
ICD9_CODE      object
SHORT_TITLE    object
LONG_TITLE     object
dtype: object

In [28]:
#usedCodes = [414,38,410,424]

icddiagFileterDF = icddiagnosisDF.loc[icddiagnosisDF['ICD9_CODE'].str.contains("413|38|410|414", case=False)]

In [30]:
icddiagFileterDF.head(30)

,ROW_ID,ICD9_CODE,SHORT_TITLE,LONG_TITLE
76,249,0038,Salmonella infection NEC,Other specified salmonella infections
370,421,09381,Syphilitic pericarditis,Syphilitic pericarditis
371,422,09382,Syphilitic myocarditis,Syphilitic myocarditis
372,423,09389,Cardiovascular syph NEC,Other specified cardiovascular syphilis
440,491,04109,Other streptococcus,Streptococcus infection in conditions classifi...
446,497,0413,Klebsiella pneumoniae,Friedl?nder's bacillus infection in conditions...
447,498,04141,Shiga txn-produce E.coli,Shiga toxin-producing Escherichia coli [E. col...
448,499,04142,Shga txn prod E.coli NEC,Other specified Shiga toxin-producing Escheric...
449,500,04143,Shga txn prod E.coli NOS,Shiga toxin-producing Escherichia coli [E. col...
450,501,04149,E.coli infection NEC/NOS,Other and unspecified Escherichia coli [E. coli]
526,577,0538,H zoster complicated NOS,Herpes zoster with unspecified complication
529,580,05410,Genital herpes NOS,"Genital herpes, unspecified"
532,583,05413,Herpetic infect of penis,Herpetic infection of penis
577,628,0338,Whooping cough NEC,Whooping cough due to other specified organism
595,646,0380,Streptococcal septicemia,Streptococcal septicemia
596,647,03810,Staphylcocc septicem NOS,"Staphylococcal septicemia, unspecified"
597,648,03811,Meth susc Staph aur sept,Methicillin susceptible Staphylococcus aureus ...
598,649,03812,MRSA septicemia,Methicillin resistant Staphylococcus aureus se...
599,650,03819,Staphylcocc septicem NEC,Other staphylococcal septicemia
600,651,0382,Pneumococcal septicemia,Pneumococcal septicemia [Streptococcus pneumon...
601,652,0383,Anaerobic septicemia,Septicemia due to anaerobes
602,653,03840,Gram-neg septicemia NOS,"Septicemia due to gram-negative organism, unsp..."
603,654,03841,H. influenae septicemia,Septicemia due to hemophilus influenzae [H. in...
604,655,03842,E coli septicemia,Septicemia due to escherichia coli [E. coli]
605,656,03843,Pseudomonas septicemia,Septicemia due to pseudomonas
606,657,03844,Serratia septicemia,Septicemia due to serratia
607,658,03849,Gram-neg septicemia NEC,Other septicemia due to gram-negative organisms
608,659,0388,Septicemia NEC,Other specified septicemias
609,660,0389,Septicemia NOS,Unspecified septicemia
626,677,04100,Streptococcus unspecf,Streptococcus infection in conditions classifi...

In [15]:
drgcodesDF.head()

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
0,342,2491,144486,HCFA,28,"TRAUMATIC STUPOR & COMA, COMA <1 HR AGE >17 WI...",NaN,NaN
1,343,24958,162910,HCFA,110,MAJOR CARDIOVASCULAR PROCEDURES WITH COMPLICAT...,NaN,NaN
2,344,18325,153751,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN
3,345,17887,182692,HCFA,14,SPECIFIC CEREBROVASCULAR DISORDERS EXCEPT TRAN...,NaN,NaN
4,346,11113,157980,HCFA,390,NEONATE WITH OTHER SIGNIFICANT PROBLEMS,NaN,NaN

In [17]:
usedCodes = [414,38,410,424]
drgcodesDF[drgcodesDF['DRG_CODE'].isin(usedCodes)]

,ROW_ID,SUBJECT_ID,HADM_ID,DRG_TYPE,DRG_CODE,DESCRIPTION,DRG_SEVERITY,DRG_MORTALITY
1855,2341,15557,170606,HCFA,410,CHEMOTHERAPY WITHOUT ACUTE LEUKEMIA AS SECONDA...,NaN,NaN
3664,3433,127,141647,HCFA,414,OTHER MYELOPROLIFERATIVE DISEASES OR POORLY DI...,NaN,NaN
8268,8229,23786,168281,HCFA,410,CHEMOTHERAPY WITHOUT ACUTE LEUKEMIA AS SECONDA...,NaN,NaN
9616,11272,17231,170560,HCFA,410,CHEMOTHERAPY WITHOUT ACUTE LEUKEMIA AS SECONDA...,NaN,NaN
11668,8604,3459,191904,HCFA,410,CHEMOTHERAPY WITHOUT ACUTE LEUKEMIA AS SECONDA...,NaN,NaN
...,...,...,...,...,...,...,...,...
119366,120145,51086,149787,APR,414,Nervous System Malignancy,4.0,4.0
120603,115467,85303,129907,APR,414,Nervous System Malignancy,4.0,4.0
120604,115468,85303,129907,APR,414,Nervous System Malignancy,4.0,4.0
122528,119599,42898,135496,APR,414,Nervous System Malignancy,4.0,4.0
122529,119600,42898,135496,APR,414,Nervous System Malignancy,4.0,4.0

In [4]:
diagnosisDF.head()

   ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0    1297         109   172335      1.0     40301
1    1298         109   172335      2.0       486
2    1299         109   172335      3.0     58281
3    1300         109   172335      4.0      5855
4    1301         109   172335      5.0      4254

In [5]:
notesDF.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [13]:
testDF = diagnosisDF.groupby(['ICD9_CODE']).size().to_frame('record_count')
testDF.reset_index(inplace=True)
testDF = testDF.sort_values(by=['record_count'], ascending=False)
testDF.head(20)

     ICD9_CODE  record_count
1962      4019         20703
2109      4280         13111
2098     42731         12891
2019     41401         12429
2957      5849          9119
824      25000          9058
946       2724          8690
2536     51881          7497
3028      5990          6555
2633     53081          6326
943       2720          5930
6519      V053          5779
6707      V290          5519
1083      2859          5406
807       2449          4917
2451       486          4839
1077      2851          4552
985       2762          4528
2482       496          4431
5873     99592          3912

In [11]:
usedCodes = [414,38,410,424]
test2DF = testDF[testDF['ICD9_CODE'].isin(usedCodes)]
test2DF.head()
#df[(df['Salary_in_1000']>=100) & (df['Age']<60) & df['FT_Team'].str.startswith('S')][['Name','Age','Salary_in_1000']]

Empty DataFrame
Columns: [ICD9_CODE, record_count]
Index: []

In [ ]:
# Loading the IMDB Dataset
ORIG_DF = pd.read_csv(DEMO_DATA_FILE, compression='gzip')

# Changing target column from string to 0,1. Label encoding not yet included in framework
ORIG_DF['sentiment'] = np.where(ORIG_DF['sentiment']=='positive', 1, 0)

print(f'Data shape: {ORIG_DF.shape}')
display(ORIG_DF.head())

In [ ]:
# Setting up variables for later usage in DataPackage
DATA_COLUMN = 'review'
TARGET_COLUMN = 'sentiment'
UNIQUE_COLUMN = None   # Unique index column. If None, one will be created

# DataPackageParams
<p>#TODO: Needs description of what DataPackageParams is</p>

In [ ]:
# DataPackageParams are optional. Can do it manually or store and save the params for re-run
from DataPackage import DataPackageParams
myDPP = DataPackageParams(
                    process_params=False, # True=run all data cleanup/setup on load
                    
                    # Class Balance
                    sample_size = None, # Can be set to an absolute value. None means undersample to smallest
                                        
                    # Text Cleaning Params
                    fix_unicode=True,  # fix various unicode errors
                    to_ascii=True,  # transliterate to closest ASCII representation
                    lower=True,  # lowercase text
                    no_line_breaks=False,  # fully strip line breaks as opposed to only normalizing them
                    no_urls=False,  # replace all URLs with a special token
                    no_emails=False,  # replace all email addresses with a special token
                    no_phone_numbers=False,  # replace all phone numbers with a special token
                    no_numbers=True,  # replace all numbers with a special token
                    no_digits=True,  # replace all digits with a special token
                    no_currency_symbols=False,  # replace all currency symbols with a special token
                    no_punct=False,  # remove punctuations
                    replace_with_punct="",  # instead of removing punctuations you may replace them
                    replace_with_url="<URL>",
                    replace_with_email="<EMAIL>",
                    replace_with_phone_number="<PHONE>",
                    replace_with_number="",
                    replace_with_digit="",
                    replace_with_currency_symbol="<CUR>",
                    lang="en",  # set to 'de' for German special handling

                    # Remove stopwords
                    remove_stopwords=True, # Removes stopwords
                    stopword_language='english',
        
                    # train test split params
                    stratifyColumn=None, # If None will be autoset to target_column in DataPackage
                    train_size=0.8, # Can be percent or absolute number
                    random_state=765,
                    shuffle=True,

                    # Encoding params
                    encoding_type='TFIDF', # Currently only supports TFIDF encoding, TBA: BERT, GLOVE, Word2Vec
                    max_features=100 # Currently only used in TFIDF
                    )

# Data Package
<p>#TODO: Needs description of what this file is</p>

In [ ]:
# Create the DataPackage
from DataPackage import DataPackage
myDP = DataPackage(original_data = ORIG_DF,
                   data_column = DATA_COLUMN,
                   target_column = TARGET_COLUMN,
                   unique_column = UNIQUE_COLUMN,
                   data_package_params = myDPP)

# Experiment Manager

In [ ]:
from ExperimentManager import ExperimentManager

In [ ]:
from xgboost import XGBClassifier
untrained_model_1 = XGBClassifier(eval_metric='mlogloss', 
                           tree_method='gpu_hist',
                           use_label_encoder=False,
                           max_depth=5,
                           n_estimators=100)

In [ ]:
myEM = ExperimentManager(project_name='NLPipe',
                         experiment_name='XGB depth:5 est:100',
                         experiment_method='supervised',
                         untrained_model=untrained_model_1,
                         data_package=myDP)

In [ ]:
myEM.list_experiments()

# ExperimentManager - add/list/remove

In [ ]:
from sklearn.cluster import KMeans
untrained_model_2 = KMeans(n_clusters=2, random_state=765)
myEM.add_experiment(experiment_name='KMeans n=2',
                    experiment_method='unsupervised',
                    untrained_model=untrained_model_2)

In [ ]:
myEM.list_experiments()

In [ ]:
myEM.display()

# ExperimentManager - run_experiment

In [ ]:
myEM.list_experiments()

In [ ]:
axis_labels = [0,1] #This won't be needed once the label encoder has been included
myEM.run_experiment(index=None) # index=None means process all experiements, 
                                # otherwise provide index of single experiment to run

In [ ]:
myEM.experiments[1].show_cluster_comparison()

# Scratchpad

In [ ]:
myEM.display_experiment_summary(index=0, axisLabels=axis_labels)

In [ ]:
def check_input(testInput):
    valid_methods = ['supervised', 'unsupervised']
    isOk = False
    e_message = ''

    for x in valid_methods:
        if x == testInput:
            isOk = True

        if not isOk:
            e_message = f'Invalid method submitted.'

    try:
        assert(isOk is True)
    except AssertionError as e:
        e.args += (e_message, f'Use: {", ".join(valid_methods)}')
        raise

In [ ]:
check_input('supervised')

In [ ]:
import warnings 
warnings.filterwarnings("ignore")

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
id_var, value_vars, df = myEM.experiments[1].getModelStats_Frame(exp_label='test label')

In [ ]:
def show_model_summary(data_frame,
                       id_var,
                       value_vars):
    value_name = 'value_name'
    var_name = 'Metric'

    tDF = pd.melt(data_frame,
                  id_vars=id_var,
                  value_vars=value_vars,
                  var_name=var_name,
                  value_name=value_name
                  )

    plt.close();
    
    #plt.figure(figsize=(10, 10) )
    #fig, ax = plt.subplots(figsize=(10,10))
    gfg = sns.catplot(x=id_var,
                       y=value_name,
                       hue=var_name,
                       data=tDF,
                       kind='bar',
                       height=6,
                       aspect=1) 
    
  
    gfg.set(ylim=(0, 1))
    gfg.set( xlabel = "Experiment", ylabel = "Metric Value", title='Model Comparison')
    plt.show()
    
    print(data_frame.head())

In [ ]:
show_model_summary(data_frame=df,
                   id_var=id_var,
                   value_vars=value_vars)

In [ ]:
sns.set_style("whitegrid")
 
# assign dataset
tips = sns.load_dataset("tips")
 
# depict visualization
gfg = sns.boxplot(x="day", y="total_bill",
                  data=tips)
_ = gfg.set_ylim(0, 80)

In [ ]:
import time
time.strftime('%H:%M:%S', time.gmtime(60))

In [ ]:
myPrediction = myEM.experiments[1].getModelPrediction()
print(myPrediction)

In [ ]:
testDF = myPrediction.groupby(['y_test','y_pred']).size().to_frame('record_count')
testDF.reset_index(inplace=True)
testDF.head()

In [ ]:
testDF.sort_values(by=['record_count'], ascending=False)

In [ ]:
t1 = myPrediction.groupby(['y_test','y_pred']).size().groupby(level=1).max().to_frame('cnt')
t1.reset_index(inplace=True)
print(t1.head())

In [ ]:
idx = testDF.groupby(['y_pred'])['record_count'].transform(max) == testDF['record_count']
testDF[idx]

In [ ]:
%%time
from itertools import product

allCombos = list(product(myPrediction['y_test'], myPrediction['y_pred']))
mylist = list(dict.fromkeys(allCombos))
print(mylist)

newDF = pd.DataFrame(data=mylist, columns=['y_test','y_pred'])
print(newDF)

In [ ]:
from wordcloud import WordCloud

text = ORIG_DF['review'].values 

plt.close()

#fig = plt.figure()
#ax = fig.add_subplot(
#plt.subplots (1,1,1, figsize=(8,6))
plt.subplot(1,2,1)

plt.axis("off")
wordcloud1 = WordCloud().generate(str(text))
plt.imshow(wordcloud1)
#plt.subplots (1,1,2, figsize=(8,6))
plt.subplot (1,2,2)
wordcloud2 = WordCloud().generate(str(text))


plt.imshow(wordcloud2)
plt.axis("off")
plt.show()

In [ ]:
from wordcloud import WordCloud

text = ORIG_DF['review'].values 
text2 = 'one two three four'
text3 = 'yuck'
text4 = 'five six seven eight'

plt.close()

plt.figure(figsize=(15,15))
plt.tight_layout()

plt.subplot(2,2,1)
plt.axis('off')
plt.title('test', loc='left', fontsize=15)
wordcloud1 = WordCloud().generate(str(text))
_ = plt.imshow(wordcloud1)


plt.subplot(2,2,2)
plt.axis('off')
plt.tight_layout()
plt.title('test2', loc='left', fontsize=15)
wordcloud2 = WordCloud().generate(str(text2))
_ = plt.imshow(wordcloud2)


plt.subplot(2,2,1)
plt.axis('off')
plt.title('test', loc='left', fontsize=15)
wordcloud3 = WordCloud().generate(str(text3))
_ = plt.imshow(wordcloud3)


plt.subplot(2,2,2)
plt.axis('off')
plt.tight_layout()
plt.title('test2', loc='left', fontsize=15)
wordcloud4 = WordCloud().generate(str(text4))
_ = plt.imshow(wordcloud4)

In [ ]:
from wordcloud import WordCloud
def getWordCloud(text):
    return WordCloud().generate(str(text))

In [ ]:
text = ORIG_DF['review'].values 
text2 = 'one two three four'
text3 = 'yuck'
text4 = 'five six seven eight'

plt.close()

fig, axs = plt.subplots(2,2, figsize=(20,10))

axs[0,0].set_title('Axis [0,0]', fontsize=15, loc='left')
axs[0,0].axis('off')
_ = axs[0,0].imshow(getWordCloud(text))

axs[0,1].set_title('Axis [0,0]', fontsize=15, loc='left')
axs[0,1].axis('off')
_ = axs[0,1].imshow(getWordCloud(text2))

axs[1,0].set_title('Axis [0,0]', fontsize=15, loc='left')
axs[1,0].axis('off')
_ = axs[1,0].imshow(getWordCloud(text3))

axs[1,1].set_title('Axis [0,0]', fontsize=15, loc='left')
axs[1,1].axis('off')
_ = axs[1,1].imshow(getWordCloud(text4))

plt.tight_layout()
plt.show()

In [ ]:
myPrediction = myEM.experiments[1].getModelPrediction()
print(myPrediction.shape)

a = [0,1,2]
b = [0,1,2,3]

unique = list(set(a + b))
print(a)
print(b)
print(unique)

In [ ]:
myPrediction = myEM.experiments[1].getModelPrediction()
print(myPrediction.shape)

a = myPrediction['y_test'].unique().tolist()
b = myPrediction['y_pred'].unique().tolist()

#print (type(a))

unique = list(set(a + b))
print(a)
print(b)
print(unique)
print(len(unique))

In [ ]:
testNone = None
print (testNone)

In [ ]:
def show_cluster_comparison(dataExperiment):
    # Requirements:
    # Unsupervised with target column present
    if (dataExperiment.experiment_method == 'unsupervised' and 
        dataExperiment.dataPackage.targetColumn is not None):
        

        # Get test data
        testDF = dataExperiment.dataPackage.getTestData()
        testDF = testDF[[dataExperiment.dataPackage.uniqueColumn]].copy()
        
        # Get clean data 
        cleanDF = dataExperiment.dataPackage.getCleanData()
        
        
        # Get prediction info
        predDF = dataExperiment.getModelPrediction()

        # Assemble frame for reporting

        # pass frame to function for processing





        return cleanDF, testDF, predDF

    else:
        print('Experiment needs to be unsupervised with a target column')
        print(f'Experiment name: {dataExperiment.experimentName}')
        print(f'Experiment method: {dataExperiment.experiment_method}')
        print(f'Target column: {dataExperiment.dataPackage.targetColumn}')

In [ ]:
cleanDF, testDF, predDF = show_cluster_comparison(myEM.experiments[1])
print('testDF:')
display(testDF.head())
print('')
print('cleanDF')      
display(cleanDF.head())
print('')
print('predDF')      
display(predDF.head())

In [ ]:
print(f'testDF shape: {testDF.shape}')
print(f'cleanDF shape: {cleanDF.shape}')
print(f'predDF shape: {predDF.shape}')

In [ ]:
result = pd.concat([testDF.reset_index(drop=True), predDF.reset_index(drop=True)], axis=1)
print(result.shape)
result.head()

In [ ]:
result = pd.merge(result, cleanDF, on='uuid', how='inner')
print(result.shape)
result.head()

In [ ]:
# validate that y_test matches sentiment
summary = result.loc[~(result['y_test'] == result['sentiment'])]
print (len(summary)) # should be 0 in resulting dataframe. e.g. no differences

In [ ]:
tempDF = result[result['y_test'] == 0]
tempText = tempDF['review'].values
print(type(tempDF))
print(tempDF.shape)
print(tempDF.head())
#print(tempText)

In [ ]:
import DataExperimentSupport as des
import importlib


importlib.reload(des)

In [ ]:
myEM.experiments[1].show_cluster_comparison()

In [ ]:
print(tempDF.shape)